<div class="container-form" style="background-image: linear-gradient(-125deg, rgba(5,101,168,0.5) 0%, rgba(0,36,61,0.4) 20%), url('<%= image_path('background.jpeg')%>');">
  <div class="form-row">
    <div class="col-xs-12 col-lg-4 col-lg-offset-3">
      <div class="form-login text-center">
        <h2>Sign up au pays des vaches</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true, class: "form-info" %>
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), class: "form-info" %>
            <%= f.input :password_confirmation, required: true, class: "form-info" %>
          </div>

          <div><%= f.button :submit, "Sign up", class: "form-button" %></div>
        <% end %>

        <%= render "devise/shared/links" %>

      </div>
    </div>
  </div>
</div>



