<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-6 col-lg-offset-3">
      <div id="profile-claire">

        <div id="profile-picture">
         <img id="avatar-claire" src="http://placehold.it/100x100">
        </div>

        <div id="profile-name" class="text-center">
          <%= @user.first_name %> <%= @user.last_name %>
        </div>

        <div id="metrics">
         <div id="metrics-cow">
          <%= image_tag "cow_icon.png", {class: "img-circle", style: "height: 30px"} %>
          <p><%= @user.cows.count %> cows</p>
        </div>

        <div id="metrics-bookings">
          <%= image_tag "farm_icon.png", {class: "img-circle", style: "height: 30px"}  %>

          <p><%= @user.bookings.count %> bookings</p>
        </div>
      </div>

      <div id="description">
        <p>
        <%= @user.description %>
        </p>
      </div>

      <div id="update-profile">
        <%= link_to "Modifier", edit_user_path(@user), class: "link-right" %>
      </div>

    </div>
  </div>
</div>
</div>








<% if @user.bookings.empty? %>
  <div class="my_bookings text-center">
    <%= image_tag "vachetriste.png", {class: "img-circle", style: "height: 100px"}%>
    <p>Vous n'avez fait aucune réservation</p>
  </div>
  <% else %>
    <div class="my_bookings text-center">
      <h3>My bookings</h3>
      <div class="row">
        <% @user.bookings.each do |booking| %>
        <div class="col-xs-12 col-sm-4">
          <div class="my_cow" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.2) 50%), url('<%= cl_image_path booking.cow.photo.path %>')">
            <h4><%= booking.cow.name %></h4>
            <div class="cow_booking">
              <div class="cow_status"><%= booking.status %></div>
              <p>Vous avez réservé <strong><%= booking.cow.name %></strong> à partir du <%= booking.start_date %> pour <%= booking.number_of_days %> jours.</p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>


<% if @user.cows.empty? %>
  <div class="my_cows text-center">
      <p>Vous n'avez aucune vache en location</p>
    <br>
    <%= link_to "Ajouter une vache", new_cow_path, class: "btn-add-cow" %>
  </div>

<% else %>
    <div class="my_cows text-center">
      <h3>My cows</h3>
      <% @user.cows.each do |cow| %>
        <div class="row">
          <div class="col-xs-12 col-lg-10 col-lg-offset-1">
            <div class="container_cows">
              <div class="my_cow" style="background-image: url('<%= cl_image_path cow.photo.path %>')">
                <h4><%= cow.name %></h4>
              </div>

              <div class="cow_booking">
                <% if cow.bookings.empty? %>
                  <p>Aucune réservation n'a été faite pour l'instant</p>
                <% else %>
                  <% cow.bookings.each do |booking| %>
                    <ul>
                      <li><strong><%= booking.status %></strong>: <%= booking.user.first_name %> a fait une réservation pour <%= booking.number_of_days %> jours à partir du <%= booking.start_date %></li>
                      <div class="btn-resa">
                        <%= link_to "Valider", accept_booking_path(booking), class: "btn-accept" %>
                        <%= link_to "Decliner", reject_booking_path(booking), class: "btn-accept" %>
                      </div>
                    </ul>
                  <% end %>
                <% end %>

              </div>

            </div>




          </div>

        </div>
      <% end %>
      <br>
      <%= link_to "Ajouter une vache", new_cow_path, class: "btn-add-cow" %>
    </div>


  </div>
<% end %>


