<div class="profile">
  <div class="profile-description">
    <h2>Bienvenue <%= @user.first_name %> <%= @user.last_name %>!</h2>
    <h4><%= @user.description %></h4>
  </div>
  <div class="profile-update">
    <%= link_to "Update", edit_user_path(@user), class: "btn-profile-update" %>
  </div>
</div>


<div class="container">
  <div class="card" id="profile">
    <div class="row">
      <div class="col-xs-12 col-lg-6 col-lg-offset-3">
        <div class="profile-claire">

          <div class="profile-picture">
           <img class="card-user avatar-claire" src="http://placehold.it/100x100">
          </div>
          <div class="profile-name">
            <%= @user.first_name %> <%= @user.last_name %>
          </div>
          <div class="metrics">
            <p><%= @user.cows.count %></p>
            <p><%= @user.bookings.count %></p>

          </div>
          <div class="description">
            <%= @user.description %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>








<% if @user.bookings.empty? %>
  <div class="my_bookings text-center">
    <%= image_tag "vachetriste.png", {class: "img-circle", style: "height: 100px"}%>
    <p>Vous n'avez fait aucune réservation</p>
  </div>
  <% else %>
    <div class="my_bookings text-center" style="background-color: #F6F6F6">
      <h2>My bookings</h2>
      <div class="row">
        <% @user.bookings.each do |booking| %>
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
          <div class="container_cows">
            <div class="my_cow" style="background-image: url('<%= cl_image_path booking.cow.photo.path %>')">
              <h4><%= booking.cow.name %></h4>
              <% if booking.status == "pending" %>
                <div class="badge badge-orange"><i class="fa fa-question" aria-hidden="true"></i></div>
              <% elsif booking.status == "accepted" %>
                <div class="badge badge-green"><i class="fa fa-check" aria-hidden="true"></i></div>
              <% elsif booking.status == "declined" %>
                <div class="badge badge-red"><i class="fa fa-times" aria-hidden="true"></i></div>
              <% end %>
            </div>

            <div class="cow_booking">
              <p>Vous avez réservé <strong><%= booking.cow.name %></strong> à partir du <%= booking.start_date.to_formatted_s(:long) %> pour <%= booking.number_of_days %> jours.</p>
            </div>
          </div>

        </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>


<% if @user.cows.empty? %>
  <div class="my_cows text-center">
      <p>Vous n'avez aucune vache en location</p>
    <br>
    <%= link_to "Ajouter une vache", new_cow_path, class: "btn-add-cow" %>
  </div>

<% else %>
    <div class="my_bookings text-center">
      <h2>My cows</h2>
      <% @user.cows.each do |cow| %>
        <div class="row">
          <div class="col-xs-12 col-lg-10 col-lg-offset-1">
            <div class="container_cows">
              <div class="my_cow" style="background-image: url('<%= cl_image_path cow.photo.path %>')">
                <h4><%= cow.name %></h4>
              </div>

              <div class="cow_booking">
                <% if cow.bookings.empty? %>
                  <p>Aucune réservation n'a été faite pour l'instant</p>
                <% else %>
                  <ul>
                    <% cow.bookings.each do |booking| %>
                      <li><strong><%= booking.status.upcase %></strong> <%= booking.user.first_name %> a fait une réservation pour <%= booking.number_of_days %> jours à partir du <%= booking.start_date.to_formatted_s(:long) %>
                        <div class="btn-resa">
                          <%= link_to accept_booking_path(booking), class: "btn-accept" do %>
                            <i class="fa fa-check" aria-hidden="true"></i>
                          <% end %>
                          <%= link_to reject_booking_path(booking), class: "btn-decline" do %>
                            <i class="fa fa-times" aria-hidden="true"></i>
                          <% end %>
                        </div>
                      </li>
                    <% end %>
                  </ul>
                <% end %>

              </div>
            </div>
          </div>

        </div>
      <% end %>
      <br>
      <br>
      <%= link_to "Ajouter une vache", new_cow_path, class: "btn-add-cow" %>
    </div>

  </div>
<% end %>


