
<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">


    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>
    <!-- Text link Profile and Log-out -->

      <div id="navbar-links">
      <%= link_to "Faire une réservation", cows_path %>
      <%= link_to "Profil", user_path(current_user) %>
      <%= link_to "Déconnexion", destroy_user_session_path, method: :delete %>
      </div>
    <% else %>

      <!-- Login text link -->
      <div id= "navbar-links-login">
      <%= link_to t(".sign_in", default: "Se connecter"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      </div>
    <% end %>

</div>

</div>
