<!DOCTYPE html>
<html>
<head>
  <title>OhLaVache!</title>

<body>
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,40,10,0.2) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path("background.jpg") %>');">
  <div class="banner-content">
    <h1>Oh La Vache!</h1>
    <p>Venez passer du temps avec une vache</p>

    <%= link_to "Sign-up for free",  new_user_registration_path, class: "btn btn-primary btn-lg banner-btn" %>
  </div>
</div>
<section class="zone-circle">
  <div class="container text-center padded features">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= image_tag "cow.svg", class: "small_image" %>
        <h4>Oh la belle vache</h4>
        <p>L'amour est dans le pré</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= image_tag "farmer.svg", class: "small_image" %>
        <h4>Rencontre les agriculteurs</h4>
        <p>Découvre un monde nouveau</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= image_tag "heart.svg", class:"small_image" %>
        <h4>Partage l'ameeuuhr</h4>
        <p>Rejoins la communauté qui aime le lactose</p>
      </div>
    </div>
  </div>
</section>
</head>

<div class="footer">
  <p class="text-footer">Il faut flatter la vache avant de la traire</p>
  <p id="copyright">&copy; Oh la vache 2017</p>
  <ul class="list-inline pull-right">
    <li>
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </li>
    <li>
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </li>
    <li>
      <i class="fa fa-snapchat" aria-hidden="true"></i>
    </li>
    <li>
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </li>
  </ul>
</div>

</body>
</html>
