<div class="banner" style="background-image: linear-gradient(-125deg, rgba(5,101,168,0.5) 0%, rgba(0,36,61,0.4) 20%), url('<%= image_path('background.jpg')%>');">
  <div class="container">
    <div class="form-row">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="logins">
          <p class="logins-title">Mettre une vache en location</p>
            <%= simple_form_for(@cow) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs input-claire">
                <%= f.input :name, placeholder: "Prénom de la vache", label: false %>
                <%= f.input :race, placeholder: "Sa race", label: false %>
                <%= f.input :address, input_html: { class: "address-autocomplete" }, label: false %>
                <%= f.input :description, placeholder: "Une petite description", label: false %>
                <%= f.input :photo, as: :attachinary %>
              </div>

              <div class="form-action">

              <%= f.submit "Update", class: "form-button" %>
              <%= link_to "Back", user_path(current_user), class: "back-button" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
