<%= link_to "My Profile", user_path(current_user) %>
<h1>All cows</h1>



<% @cows.each do |cow| %>
  <h3><%= cow.name %></h3>
  <h4><%= cow.race %></h4>
  <p><%= cow.description %></p>
  <p><%= cow.user.email %></p>
  <%= link_to "Détail", cow_path(cow) %>
<% end %>
