<h1>My cows</h1>

<%= link_to "Ajouter une vache", new_cow_path %>

<% @cows.each do |cow| %>
  <h3><%= cow.name %></h3>
  <h4><%= cow.race %></h4>
  <p><%= cow.description %></p>
  <p><%= cow.user.email %></p>
  <%= link_to "Détail", cow_path(cow) %>
<% end %>
