<h2 class="text-center">Oh la vache!</h2>

<div class="text-center padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-sm-8">
        <div class="row">
          <% @cows.each do |cow| %>
            <div class="col-xs-6">
              <!-- On récupère l'url de la photo -->
              <!-- On crée la card-->
              <div class="card" style="background-image: url('<%= cl_image_path cow.photo.path, height: 300, width:400, crop: fill %>')"">
                <div class="card-description">
                  <h2><%= cow.name %></h2>
                  <p><%= cow.race %></p>
                </div>
                <%= link_to "Détail", cow_path(cow), class: 'card-link' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="text-center padded features" id="map-container">
          <h1>Emplacement de la map col-xs-4</h1>
          <div id="map" style="width: 100%;height: 500px;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to "My Profile", user_path(current_user) %>


<section class="zone-circle">
  <div class="container text-center padded features">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <img src="images/cow.png" alt="">
          <h4>Meet beautiful cows</h4>
          <p>L'amour est dans le pré</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <img src="images/farmer.png" alt="">
          <h4>Meet farmers</h4>
          <p>Découvre un monde nouveau</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <img src="images/heart.png" alt="">
          <h4>Share and love</h4>
          <p>Rejoins la communauté qui aime le lactose.</p>
        </div>
      </div>
    </div>


    <% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
