
<div class="text-center padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-sm-8">
        <div class="row">
          <h1><%= @cow.name %></h1>
          <h4><%= @cow.race %></h4>
          <p><%= @cow.description %></p>
          <p><%= @cow.user.email %></p>
          <%= link_to "Back", cows_path %>
          <% if @cow.photo? %>
          <%= cl_image_tag @cow.photo.path, width: 200, height: 300, crop: :fill %>
          <% end %>
        </div>
      </div>

      <div class="col-xs-4" class="container text-center padded features">
        <%= simple_form_for [@cow, @booking] do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :start_date %>
          <%= f.input :number_of_days %>
        </div>
        <div class="form-actions">
          <%= f.button :submit %>
        </div>
        <% end %>
      </div>


<div class="media">
  <div class="media-body">
    <div class="media-section">
      <h2>Pictures</h2>
      ...
    </div>
    <div class="media-section">
      <h2>Description</h2>
      ...
    </div>
  </div>
  <div class="media-aside">
    <div class="media-section">
      <h2>Share</h2>
      ...
    </div>
    <div class="media-section">
      <h2>382 upvotes</h2>
      ...
    </div>
  </div>
</div>

